$green-background: #0c2e00;
$font-color: #cdffd3;

body {
  background-color: #121212;
  font: 1.2rem "Fira Sans", sans-serif;
  color: $font-color;
}

main {
  img {
    width: 237px;
    height: 229px;
    margin-left: 20px;
    margin-top: 5%;
    border-radius: 150px;
  }

  .bold {
    width: 500px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;

    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }

  p {
    margin-left: 20px;
    a {
      color: $font-color;
    }
  }

  section {
    width: 100%;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: $green-background;

    h2 {
      padding-top: 10px;
      margin-bottom: 5px;
    }
  }
}

footer {
  width: 100%;
  height: 25px;
  padding: 10px;

  position: fixed;
  Bottom: 0;
  Left: 0;
  Right: 0;

  text-align: center;
  color: black;

  background: #D9D9D9;
  p {
    margin: auto;
  }
}

/* TODO: Alterar o código para deixar de usar px em tudo e passar a usar vh/vw e %
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 211, 222);

}

main {
  height: 95vh;
  margin-left: 3rem;
}

img {
  border-radius: 50%;
  width: 15%;
  margin-top: 2rem;
}


li {
  margin-left: 15px;
}

h2 {
  color: rgb(2, 48, 48);
  padding: 10px 0;
}

p {
  padding-bottom: 10px;
 
}



footer {
  text-align: center;
  padding-top: 10px;
  background-color: rgb(2, 48, 48);
  color: white;
  height: 5vh;
}
*/
